<div class="jumbotron">
  <%= render 'archivations/form', archivation: @archivation %>
  <p class="lead">
    Post URLs to the <a href="https://archive.org/web/">Wayback Machine</a>.
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Wayback Machine?</h4>
    <p>Find out what the <a href="https://archive.org/web/">Wayback Machine</a> (Internet Archive) is.</p>
  </div>

  <div class="col-lg-6">
    <h4>What are the restrictions?</h4>
    <p>
      - One submission per host, per day <br>
      - Max 10 000 URLs
    </p>
    <small class="text-muted">Posting using the strategy "Single URL" is not subjected to rate limiting.</small>
  </div>

  <div class="col-lg-6">
    <h4>API</h4>
    <p>JSON <a href="https://documenter.getpostman.com/view/239201/waybackarchiver/6n8xC6b">API documentation</a>.</p>
  </div>
</div>
