<p>Archivation of <%= link_to(@url, @url) %> finished :)</p>

<p>In total <%= @total %> URL(s) were sent to the Wayback Machine.</p>

<p>View the archive at <%= link_to(@archive_url, @archive_url) %></p>
