<footer class="footer">
  <div>
    <span class="footer-copy-text">&copy; WaybackArchiver 2017</span>
    <div class="footer-share">
      <%= social_share_button_tag('Archive your site at', url: 'http://www.waybackarchiver.com') %>
    </div>
  </div>
</footer>
