<div class="header clearfix">
  <!-- <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav> -->
  <h3>
    <a href="/" class="text-muted">WaybackArchiver</a>
  </h3>
</div>
